## UNIT – I 
# INTRODUCTION DATA, EXPRESSIONS, STATEMENTS

In [1]:
print("Hello World ")

Hello World

# Data types: 
Int:

In [8]:
print(24656354687654+2) 
print (30)
print (0b10)
print(0B10)
print(0X20)
 
a = 10
print (a)

# To verify the type of any object in Python, use the type() function: 
print(type(a))

24656354687656
30
2
2
32
10
<class 'int'>

# Float: 
Float, or "floating point number" is a number, positive or negative, containing one or more  decimals.

In [ ]:
y = 2.8
print(y)
print(type(y))

x = 35e3  
y = 12E4 
z = -87.7e100 
print(type(x)) 
print(type(y)) 
print(type(z))

2.8
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

# Boolean: 
Objects of Boolean type may have one of two values, True or False:

In [12]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

# String:

In [25]:
print("Muhammad Talha")
print(type("Muhammad Talha"))

print("Government college Formen is an autonomous (') college")
print('Government college Formen is an autonomous (") college') 

print("Government college Formen is an autonomous (\') college") 
print("Government college Formen is an autonomous \" college") 

print('a \nb')

print("Formen \ncollege")

Muhammad Talha
<class 'str'>
Government college Formen is an autonomous (') college
Government college Formen is an autonomous (") college
Government college Formen is an autonomous (') college
Government college Formen is an autonomous " college
a
b
Formen
college

## List:

In [30]:
mylist = [1,2,3,'A','B',7,8,[10,"Talha"]] 
print(mylist)

#  another way to initialize list 
y = list()
print(y)
#  Change another data type into list 

myTup = ("Talha",123,True)
mylist2 = list(myTup)
print(mylist2)
print(type(mylist2))

[1, 2, 3, 'A', 'B', 7, 8, [10, 'Talha']]
[]
['Talha', 123, True]
<class 'list'>

## Variables: 
Variables are nothing but reserved memory locations to store values. This means that when you create a variable you reserve some space in memory.

In [4]:
a= 500 # An integer assignment 
b = 8700.0 # A floating point 
c = "Talha" # A string 
print (a) 
print (b) 
print (c) 
#  Multiple Assignment: 

x = y = z = "Talha"
print(x,y,z)

a,b,c = 1,2,"Formen College " 
print(a,b,c)

x =10# x is of type int 
x = "Formen "
print(x) 
# To combine both text and a variable, Python uses the “+” character: 
x = "Technology Program" 
print("Peoples Information " +  x) 

x = "Technology Program" 
y =  "Peoples Information "
z = x + y 
print(z)

500
8700.0
Talha
Talha Talha Talha
1 2 Formen College
Formen
Peoples Information Technology Program
Technology ProgramPeoples Information

## Expressions: 
An expression is a combination of values, variables, and operators. An expression is evaluated using assignment operator.

In [ ]:
x=10 
Y=x + 17 
z=x+20 
print(z)

30

## Precedence of Operators:

In [8]:
a = 20 
b = 10 
c = 15 
d = 5 
e = 0 
e = (a + b) * c / d #( 30 * 15 ) / 5 
print("Value of (a + b) * c / d is ", e) 
e = ((a + b) * c) / d # (30 * 15 ) / 5 
print("Value of ((a + b) * c) / d is ", e) 
e = (a + b) * (c / d); # (30) * (15/5)

print("Value of (a + b) * (c / d) is ", e) 
e = a + (b * c) / d; # 20 + (150/5) 
print("Value of a + (b * c) / d is ", e)

Value of (a + b) * c / d is  90.0
Value of ((a + b) * c) / d is  90.0
Value of (a + b) * (c / d) is  90.0
Value of a + (b * c) / d is  50.0

## Modules:

In [14]:
import calendar
import sys 
print(sys.version) 

print(calendar.month(2021,5)) 

print(calendar.isleap(2000)) 
 
print(calendar.isleap(2014))

3.13.1 (tags/v3.13.1:0671451, Dec  3 2024, 19:06:28) [MSC v.1942 64 bit (AMD64)]
      May 2021
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

True
False

## Functions: 
### 1. Built-in functions - Functions that are built into Python. 
### 2. User-defined functions - Functions defined by the users themselves.

In [16]:
# Ex: abs(),all().ascii(),bool()………so on…. 
integer = -20 
print('Absolute value of -20 is:', abs(integer)) 

def add_numbers(x,y): 
 sum = x + y 
 return sum 
print("The sum is", add_numbers(5, 20))

Absolute value of -20 is: 20
The sum is 25

## Flow of Execution:

In [17]:
print("welcome") 
for x in range(3): 
 print(x) 
print("Good morning Talha")

welcome
0
1
2
Good morning Talha

## Parameters and arguments:

In [28]:
def add (num1, num2):
    return num1 + num2
result = add(15,45)
print(result)


def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d
print(add_sub(10,5))

def hello_f():
    return "hellocollege"
print(hello_f().upper())

# Passing Arguments
def hello(wish):
    return '{}'.format(wish)
print(hello("mrcet"))


# Key words Arguments 
def func(a, b=5, c=10): 
    print ('a is', a, 'and b is', b, 'and c is', c)
27 
func(3, 7) 
func(25, c=24) 
func(c=50, a=100)

def print_name(name1, name2): 
 """ This function prints the name """ 
 print (name1 + " and " + name2 + " are friends") 
#calling the function 
print_name(name2 = 'TALHA',name1 = 'ZAIN')

def wish(*names): 
 """This function greets all 
 the person in the names tuple.""" 
 # names is a tuple with arguments 
 for name in names: 
   print("Hello",name) 
wish("Talha","Zain","Waqar","Salman")

60
(15, 5)
HELLOCOLLEGE
mrcet
a is 3 and b is 7 and c is 10
a is 25 and b is 5 and c is 24
a is 100 and b is 5 and c is 50
ZAIN and TALHA are friends
Hello Talha
Hello Zain
Hello Waqar
Hello Salman

## Practice Question At the End Of chapter 1

In [ ]:
# Program to find area of a circle using function use single return value function with
argument.

pi = 3.14
def areaOfCircle(radius):
    return pi * radius * radius

rad = float(input("Enter the radius of circle"))
print(areaOfCircle(rad))

Sum =  108.0 Difference =  -18.0 Multiply =  2835.0 divide =  0.7142857142857143 modules 45.0

In [38]:
#Program to write sum different product and using arguments with return value
# function.

def calculator (num1, num2):
    add = num1 + num2
    sub = num1 - num2
    mul = num1 * num2
    div = num1 / num2
    mod = num1 % num2
    return add , sub, mul , div,mod

n1 = float(input("Enter the First  Number : "))
n2 = float(input("Enter the Second Number : "))

a,s,m,d,mo = calculator(n1,n2)

print("Sum = ",a,"Difference = ",s , "Multiply = ",m , "divide = ",d , "modules",mo)

Sum =  101.0 Difference =  -11.0 Multiply =  2520.0 divide =  0.8035714285714286 modules 45.0

In [39]:
#program to find biggest of two numbers using functions. 
def biggest(num1,num2):
    
    if num1 > num2:
        return num1
    else:
        return num2
n1 = float(input("Enter the First  Number : "))
n2 = float(input("Enter the Second Number : "))

bigNumber = biggest(n1,n2)
print(bigNumber)

98.0

In [40]:
#program to find biggest of two numbers using functions. (nested if) 

def biggest(num1,num2,num3):
    if num1 > num2 :
        if num1 > num3:
            return num1
        else :
            return num3
    else : 
        if num2 > num3:
            return num2
        else:
            return num3

n1 = float(input("Enter the First  Number : "))
n2 = float(input("Enter the Second Number : "))
n3 = float(input("Enter the Third Number : "))

bigNumber = biggest(n1,n2,n3)
print(bigNumber)

89.0

In [42]:
#Writer a program to read one subject mark and print pass or fail use single return values function with argument. 
def resultChecker(a):
    if a > 40:
        return "Pass"
    else:
        return "Fail"
    
n1 = float(input("Enter the First  Number : "))

print(resultChecker(n1))

Fail

In [44]:
#Write a program to display mrecet cse dept 10 times on the screen. (while loop) 

def display(): 
 count =0 
 while count<10: 
  print("mrcet cse dept",count) 
  count=count+1 
display()

mrcet cse dept 0
mrcet cse dept 1
mrcet cse dept 2
mrcet cse dept 3
mrcet cse dept 4
mrcet cse dept 5
mrcet cse dept 6
mrcet cse dept 7
mrcet cse dept 8
mrcet cse dept 9

## UNIT – II

### Conditional (if):

In [1]:
a = 3
if a > 2:
    print(a, "is greater")
print("done")
a = -1
if a < 0:
    print(a, "a is smaller")
print("Finish")

3 is greater
done
-1 a is smaller
Finish

### Alternative if (If-Else):

In [ ]:
a=int(input('enter the number'))
if a>5:
  print("a is greater")
else:
   print("a is smaller than the input given")

a is smaller than the input given

In [3]:
a=10
b=20
if a>b:
    print("A is Greater than B")
else:
    print("B is Greater than A")

B is Greater than A

### Chained Conditional: (If-elif-else):

In [4]:
a=int(input('enter the number'))
b=int(input('enter the number'))
c=int(input('enter the number'))
if a>b:
    print("a is greater")
elif b>c:
    print("b is greater")
else:
    print("c is greater")

c is greater

In [5]:
var = 100
if var == 200:
    print("1 - Got a true expression value")
    print(var)
elif var == 150:
    print("2 - Got a true expression value")
    print(var)
elif var == 100:
    print("3 - Got a true expression value")
    print(var)
else:
    print("4 - Got a false expression value")
    print(var)
print("Good bye!")

3 - Got a true expression value
100
Good bye!

### Statements:
In Python Iteration (Loops) statements are of three types:
1. While Loop
2. For Loop
3. Nested For Loops

## While Loop

In [8]:
i=1
while i<=6:
    print("Government College Jinnah")
    i=i+1

Government College Jinnah
Government College Jinnah
Government College Jinnah
Government College Jinnah
Government College Jinnah
Government College Jinnah

In [9]:
i=1
while i<=3:
   print("MRCET",end=" ")
   j=1
   while j<=1:
     print("CSE DEPT",end="")
     j=j+1
   i=i+1
   print()

MRCET CSE DEPT
MRCET CSE DEPT
MRCET CSE DEPT

In [13]:
i=1
j=1
while i<=3:
  print("MRCET",end=" ")
  while j<=1:
   print("CSE DEPT",end="")
   j=j+1
  i=i+1
  print()

MRCET CSE DEPT
MRCET
MRCET

In [15]:
i = 1
while (i < 10):
  print (i)
  i = i+1

1
2
3
4
5
6
7
8
9

In [16]:
a = 1
b = 1
while (a<10):
   print ('Iteration',a)
   a = a + 1
   b = b + 1
   if (b == 4):
      break
print ('While loop terminated')

Iteration 1
Iteration 2
Iteration 3
While loop terminated

In [18]:
count = 0
while (count < 9):
    print("The count is:", count)
    count = count + 1
print("Good bye!")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Good bye!

## For Loop

In [20]:
numbers = [1, 2, 4, 6, 11, 20]
seq=0
for val in numbers:
  seq=val*val
  print(seq)

1
4
16
36
121
400

In [22]:
# Iterating over a list:
#list of items
list = ['J','I','N','N','A','H']
i = 1
#Iterating over the list
for item in list:
    print ('college ',i,' is ',item)
    i = i+1

college  1  is  J
college  2  is  I
college  3  is  N
college  4  is  N
college  5  is  A
college  6  is  H

In [23]:
tuple = (2,3,5,7)
print ('These are the first four prime numbers ')
#Iterating over the tuple
for a in tuple:
   print (a)

These are the first four prime numbers
2
3
5
7

In [25]:
# Iterating over a dictionary:
#creating a dictionary
college = {"ces":"block1","it":"block2","ece":"block3"}
#Iterating over the dictionary to print keys
print ('Keys are:')
for keys in college:
    print (keys)
    
    
print ('Values are:')
for blocks in college.values():
    print(blocks)

Keys are:
ces
it
ece
Values are:
block1
block2
block3

In [26]:
# Iterating over a String:
#declare a string to iterate over
college = 'MRCET'
#Iterating over the string
for name in college:
    print (name)

M
R
C
E
T

## Nested For loop:

In [28]:
for i in range(1,6):
    for j in range(0,i):
        print(i, end=" ")
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [30]:
for i in range(1,6):
    for j in range(5,i-1,-1):
        print(i, end=" ")
    print('')

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

## Break:

In [34]:
for val in "JINNAH COLLEGE":
     if val == " ":
        break
     print(val)
print("The end")

J
I
N
N
A
H
The end

In [35]:
for num in [11, 9, 88, 10, 90, 3, 19]:
   print(num)
   if(num==88):
      print("The number 88 is found")
      print("Terminating the loop")
      break

11
9
88
The number 88 is found
Terminating the loop

In [37]:
for letter in "Python": # First Example
    if letter == "h":
        break
    print("Current Letter :", letter )

Current Letter : P
Current Letter : y
Current Letter : t

## Continue:

In [39]:
for val in "string":
    if val == "i":
     continue
    print(val)
print("The end")

s
t
r
n
g
The end

In [41]:
for num in [20, 11, 9, 66, 4, 89, 44]:

# Skipping the iteration when number is even
    if num%2 == 0:
        continue
# This statement will be skipped for all even numbers
    print(num)

11
9
89

In [42]:
for letter in "Python": # First Example
    if letter == "h":
        continue
    print("Current Letter :", letter)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : o
Current Letter : n

## UNIT – III

# Functions, Arrays:

In [43]:
# returns the area of a circle with the given radius:
def area(radius):
  temp = 3.14 * radius**2
  return temp
print(area(4))

50.24

In [44]:
# Write a Python function that takes two lists and returns True if they have at least one
# common member.
def common_data(list1, list2):
 for x in list1:
   for y in list2:
       if x == y:
        result = True
        return result
print(common_data([1,2,3,4,5], [1,2,3,4,5]))
print(common_data([1,2,3,4,5], [1,7,8,9,510]))
print(common_data([1,2,3,4,5], [6,7,8,9,10]))

True
True
None

## Local and Global scope:

In [45]:
# use local and global variables in same code

x = "global"
def f3():
    global x
    y = "local"
    x = x * 2
    print(x)
    print(y)
f3()

globalglobal
local

In [46]:
# use Global variable and Local variable with same name
x = 5
def f4():
    x = 10
    print("local x:", x)
f4()
print("global x:", x)

local x: 10
global x: 5

### Recursion:

In [48]:
def calc_factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""
    if x == 1:
        return 1
    else:
       return (x * calc_factorial(x-1))

num = 6
print("The factorial of", num, "is", calc_factorial(num))

The factorial of 6 is 720

### Strings:

In [49]:
str = 'Hello World!'
print (str )# complete string
print (str[0]) # Prints first character of the string
print (str[2:5]) # P)rints characters starting from 3rd to 5th
print (str[2:] )# Pr)ints string starting from 3rd character print
str * 2 # Prints string two times
print (str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!TEST

### String functions and methods:

In [52]:
string="123alpha"
print(string.isalnum() )

string="nikhil"
print(string.isalpha())
string="123456789"
print(string.isdigit())
string="nikhil"
print(string.islower())
string="123456789"
print(string.isnumeric())

string="Nikhil Is Learning"
print(string.istitle())

string="HELLO"
print(string.isupper())

string="Nikhil Is Learning"
print(string.replace('Nikhil','Neha'))

string="Nikhil Is Learning"
print(string.split())

string='Nikhil Is Learning'
print(string.count('i'))

string="Nikhil Is Learning"
print(string.find('k'))

True
True
True
True
True
True
True
Neha Is Learning
['Nikhil', 'Is', 'Learning']
3
2

## UNIT – IV

# List

In [53]:
# SLICING
list1=range(1,6)
list1
range(1, 6)
print(list1)
range(1, 6)

range(1, 6)

range(1, 6)

In [54]:
list1=[1,2,3,4,5,6,7,8,9,10]
list1[1:]

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
list1=[1,2,3,4,5,6,7,8,9,10]
list1[2:5]

[3, 4, 5]

In [56]:
list1=[1,2,3,4,5,6,7,8,9,10]
list1[:6]
# list1[1:2:4]

[1, 2, 3, 4, 5, 6]

In [57]:
list1=[1,2,3,4,5,6,7,8,9,10]
list1[1:2:4]

[2]

 List methods:

In [58]:
x=[5,3,8,6]
del(x[1]) #deletes the index position 1 in a list
x

[5, 8, 6]

In [59]:
x=[5,3,8,6]

del(x)
# complete list gets deleted

In [60]:
# Append: Append an item to a list
x=[1,5,8,4]
x.append(10)
x

[1, 5, 8, 4, 10]

In [61]:
# Append: Append an item to a list
x=[1,5,8,4]
x.append(10)
x

[1, 5, 8, 4, 10]

In [62]:
# Insert: To add an item at the specified index, use the insert () method:
x=[1,2,4,6,7]

x.insert(2,10) #insert(index no, item to be inserted)
x

[1, 2, 10, 4, 6, 7]

In [63]:
# Pop: The pop() method removes the specified index, (or the last item if index is not
# specified) or simply pops the last item of list and returns the item.
x=[1, 2, 10, 4, 6, 7]
x.pop()
x

[1, 2, 10, 4, 6]

In [64]:
x=[1, 2, 10, 4, 6]
x.pop(2)
x

[1, 2, 4, 6]

In [65]:
# Remove: The remove() method removes the specified item from a given list.
x=[1,33,2,10,4,6]
x.remove(33)
x

[1, 2, 10, 4, 6]

In [66]:
x=[1, 2, 10, 4, 6]
x.remove(4)
x

[1, 2, 10, 6]

In [67]:
# Reverse: Reverse the order of a given list.
x=[1,2,3,4,5,6,7]
x.reverse()
x

[7, 6, 5, 4, 3, 2, 1]

In [68]:
# Sort: Sorts the elements in ascending order
x=[7, 6, 5, 4, 3, 2, 1]
x.sort()
x

[1, 2, 3, 4, 5, 6, 7]

List loop:

For loop

In [69]:
list = ['M','R','C','E','T']

i = 1
#Iterating over the list
for item in list:
 print ('college ',i,' is ',item)
 i = i+1

college  1  is  M
college  2  is  R
college  3  is  C
college  4  is  E
college  5  is  T

In [70]:
list = [1, 3, 5, 7, 9]
# getting length of list
length = len(list)
# Iterating the index
# same as 'for i in range(len(list))'
for i in range(length):
 print(list[i])

1
3
5
7
9

while loop

In [71]:
list = [1, 3, 5, 7, 9]
# Getting length of list


length = len(list)
i = 0
# Iterating using while loop
while i < length:
 print(list[i])
 i += 1

1
3
5
7
9

Mutability:

In [72]:
# Append: Append an item to a list
x=[1,5,8,4]
x.append(10)
x

[1, 5, 8, 4, 10]

In [73]:
# Extend: Append a sequence to a list.
x=[1,2,3,4]
y=[3,6,9,1]
x.extend(y)
x

[1, 2, 3, 4, 3, 6, 9, 1]

In [74]:
# Delete: Delete a list or an item from a list
x=[5,3,8,6]
del(x[1]) #deletes the index position 1 in a list
x

[5, 8, 6]

In [75]:
# Reverse: Reverse the order of a given list.
x=[1,2,3,4,5,6,7]
x.reverse()
x

[7, 6, 5, 4, 3, 2, 1]

In [76]:
# Sort: Sorts the elements in ascending order
x=[7, 6, 5, 4, 3, 2, 1]
x.sort()
x

[1, 2, 3, 4, 5, 6, 7]

Aliasing:

In [77]:
a = [81, 82, 83]
b = [81, 82, 83]
print(a == b)
print(a is b)
b = a
print(a == b)
print(a is b)
b[0] = 5
print(a)

True
False
True
True
[5, 82, 83]

Cloning Lists:

In [78]:
a = [81, 82, 83]
b = a[:] # make a clone using slice
print(a == b)
print(a is b)
b[0] = 5
print(a)   ##88  93  
print(b)

True
False
[81, 82, 83]
[5, 82, 83]

List parameters:

In [79]:
def doubleStuff(List):
    """ Overwrite each element in List with double its value. """
    for position in range(len(List)):
        List[position] = 2 * List[position]

things = [2, 5, 9]
print(things)  # Output before modification
doubleStuff(things)
print(things)  # Output after modification

[2, 5, 9]
[4, 10, 18]

List comprehension:
List:

In [80]:
list1=[]
for x in range(10):
  list1.append(x**2)
list1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [81]:
x=[m for m in range(8)]
print(x)
[0, 1, 2, 3, 4, 5, 6, 7]
x=[z**2 for z in range(10) if z>4]
print(x)
[25, 36, 49, 64, 81]
x=[x ** 2 for x in range (1, 11) if x % 2 == 1]
print(x)

[0, 1, 2, 3, 4, 5, 6, 7]
[25, 36, 49, 64, 81]
[1, 9, 25, 49, 81]

## Tuples:

In [82]:
x=(1,2,3)
print(x)
(1, 2, 3)
x

(1, 2, 3)

(1, 2, 3)

In [85]:
# Loop through a tuple: We can loop the values of tuple using for loop
x=4,5,6,7,2,'aa'
for i in x:
 print(i)

4
5
6
7
2
aa

In [86]:
# Count (): Returns the number of times a specified value occurs in a tuple
x=(1,2,3,4,5,6,2,10,2,11,12,2)
x.count(2)

4

In [87]:
# Index (): Searches the tuple for a specified value and returns the position of where it
# was found

x=(1,2,3,4,5,6,2,10,2,11,12,2)
x.index(2)

1

Tuple as return values:

In [89]:
def fun():
    str_value = "mrcet college"
    x = 20
    return str_value, x  # Return tuple

# Driver code to test the function
str_value, x = fun()  # Assign returned tuple
print(str_value)
print(x)

mrcet college
20

In [90]:
def circleInfo(r):
    """Return (circumference, area) of a circle of radius r"""
    c = 2 * 3.14159 * r
    a = 3.14159 * r * r
    return c, a  # Correct indentation of return statement

# Calling the function and printing the result
print(circleInfo(10))

(62.8318, 314.159)

Tuple comprehension:

In [92]:
x = (i for i in 'abc') #tuple comprehension
x
print(x)

<generator object <genexpr> at 0x000001F4B9D14C40>

In [93]:
x = (i for i in 'abc')
for i in x:
 print(i)

a
b
c

# Set:

In [94]:
# Similarly to list comprehensions, set comprehensions are also supported:
a = {x for x in 'abracadabra' if x not in 'abc'}
a
{'r', 'd'}
x={3*x for x in range(10) if x>5}
x

{18, 21, 24, 27}

## Dictionaries:

In [96]:
# Add/change values: You can change the value of a specific item by referring to its key
# name
dict1 = {"brand":"mrcet","model":"college","year":2004}
dict1["year"]=2005
dict1

{'brand': 'mrcet', 'model': 'college', 'year': 2005}

In [101]:
# Remove(): It removes or pop the specific item of dictionary.
dict1 = {"brand":"mrcet","model":"college","year":2004}
print(dict1.pop("model"))
dict1

college

{'brand': 'mrcet', 'year': 2004}

In [103]:
# Delete: Deletes a particular item.
x = {1:1, 2:4, 3:9, 4:16, 5:25}
del x[5]
x

{1: 1, 2: 4, 3: 9, 4: 16}

In [105]:
# Length: we use len() method to get the length of dictionary.
{1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16}
y=len(x)
y

4

In [106]:
# Iterating over (key, value) pairs:
x = {1:1, 2:4, 3:9, 4:16, 5:25}
for key in x:
 print(key, x[key])

1 1
2 4
3 9
4 16
5 25

List of Dictionaries:

In [108]:
customers = [{"uid":1,"name":"John"},
{"uid":2,"name":"Smith"},
{"uid":3,"name":"Andersson"},
]
print(customers)
[{'uid': 1, 'name': 'John'}, {'uid': 2, 'name': 'Smith'}, {'uid': 3, 'name': 'Andersson'}]
## Print the uid and name of each customer
for x in customers:
 print(x["uid"], x["name"])

[{'uid': 1, 'name': 'John'}, {'uid': 2, 'name': 'Smith'}, {'uid': 3, 'name': 'Andersson'}]
1 John
2 Smith
3 Andersson

In [117]:
# Comprehension:
# Dictionary comprehensions can be used to create dictionaries from arbitrary key and
# value expressions:
z={x: x**2 for x in (2,4,6)}
z
{2: 4, 4: 16, 6: 36}
dict11 = {x: x*x for x in range(6)}
dict11

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

## UNIT – V
FILES, EXCEPTIONS, MODULES, PACKAGES

In [2]:
# Write a python program to open and read a file

a=open("one.txt","r")
print(a.read())
a.close()

In [3]:
# Write a python program to open and write “hello world” into a file?

f=open("one.txt","a")
f.write("hello world")
f.close()

In [5]:
# Write a python program to write the content “hi python programming” for the
# existing file.

f=open("one.txt",'w')
f.write("hi python programming")
f.close()

In [6]:
# Write a python program to open and write the content to file and read it.

fo=open("abc.txt","w+")
fo.write("Python Programming")
print(fo.read())
fo.close()

## Command line arguments:

In [7]:
import sys
print(type(sys.argv))
print('The command line arguments are:')
for i in sys.argv:
 print(i)

<class 'list'>
The command line arguments are:
c:\Users\SC\Desktop\data-Science\venv\Lib\site-packages\ipykernel_launcher.py
--f=c:\Users\SC\AppData\Roaming\jupyter\runtime\kernel-v3012e7676809e0245a38bcf933c0152f483814583.json

In [8]:
# write a python program to get python version.
import sys
print("System version is:")
print(sys.version)
print("Version Information is:")
print(sys.version_info)

System version is:
3.13.1 (tags/v3.13.1:0671451, Dec  3 2024, 19:06:28) [MSC v.1942 64 bit (AMD64)]
Version Information is:
sys.version_info(major=3, minor=13, micro=1, releaselevel='final', serial=0)

## Handling Exceptions:

In [10]:
a=5
b=0
try:
    print(a/b)
except Exception:
    print("number can not be divided by zero")
    print("bye")

number can not be divided by zero
bye

In [11]:
#  The except block executes only when try block has an error, check it below
a=5
b=2
try:
    print(a/b)
except Exception:
    print("number can not be divided by zero")
    print("bye")

2.5

In [12]:
# For example if you want to print the message like what is an error in a program
# then we use “e” which is the representation or object of an exception.

a=5
b=0
try:
    print(a/b)
except Exception as e:
    print("number can not be divided by zero",e)
print("bye")

number can not be divided by zero division by zero
bye

## finally:

In [13]:
a=5
b=0

try:
    print("resource open")
    print(a/b)
    k=int(input("enter a number"))
    print(k)
except ZeroDivisionError as e:
    print("the value can not be divided by zero",e)
finally:
    print("resource closed")

resource open
the value can not be divided by zero division by zero
resource closed

In [14]:
#  change the value of b to 2 for above program, you see the output like
a=5
b=2

try:
    print("resource open")
    print(a/b)
    k=int(input("enter a number"))
    print(k)
except ZeroDivisionError as e:
    print("the value can not be divided by zero",e)
finally:
    print("resource closed")

resource open
2.5
4
resource closed

In [15]:
a=5
b=0

try:
    print("resource open")
    print(a/b)
    k=int(input("enter a number"))
    print(k)
except ZeroDivisionError as e:
    print("the value can not be divided by zero",e)
except ValueError as e:
    print("invalid input")
except Exception as e:
    print("something went wrong...",e)
finally:
    print("resource closed")

resource open
the value can not be divided by zero division by zero
resource closed

In [16]:
# Change the value of b to 2 and give the input as some character or string (other
# than int)

a=5
b=2

try:
    print("resource open")
    print(a/b)
    k=int(input("enter a number"))
    print(k)
except ZeroDivisionError as e:
    print("the value can not be divided by zero",e)
except ValueError as e:
    print("invalid input")
except Exception as e:
    print("something went wrong...",e)
finally:
    print("resource closed")

resource open
2.5
invalid input
resource closed

## Modules (Date, Time, os, calendar, math):

In [17]:
# Write a python program to display date, time
import datetime
a=datetime.datetime(2019,5,27,6,35,40)
print(a)
datetime.datetime(2019, 5, 27, 6, 35, 40)

2019-05-27 06:35:40

datetime.datetime(2019, 5, 27, 6, 35, 40)

In [18]:
# write a python program to display date
import datetime
a=datetime.date(2000,9,18)
print(a)

2000-09-18

In [19]:
# write a python program to display time
import datetime
a=datetime.time(5,3)
print(a)

05:03:00

In [20]:
#write a python program to print date, time for today and now.
import datetime

a=datetime.datetime.today()
b=datetime.datetime.now()
print(a)
print(b)

2025-03-16 06:56:56.178849
2025-03-16 06:56:56.178948

In [21]:
#write a python program to add some days to your present date and print the date
# added.
import datetime
a=datetime.date.today()
b=datetime.timedelta(days=7)
print(a+b)

2025-03-23

In [22]:
#write a python program to print the no. of days to write to reach your birthday
import datetime
a=datetime.date.today()
b=datetime.date(2025,4,11)
c=b-a
print(c)

26 days, 0:00:00

In [23]:
#write an python program to print date, time using date and time functions
import datetime
t=datetime.datetime.today()
print(t.date())
print(t.time())

2025-03-16
06:59:51.888513

## Time module:

In [24]:
#write a python program to display time.
import time
print(time.time())

1742090513.5125175

In [25]:
#write a python program to get structure of time stamp.
import time
print(time.localtime(time.time()))

time.struct_time(tm_year=2025, tm_mon=3, tm_mday=16, tm_hour=7, tm_min=2, tm_sec=8, tm_wday=6, tm_yday=75, tm_isdst=0)

In [26]:
#write a python program using sleep().
import time
time.sleep(6) #prints after 6 seconds
print("Python Lab")

Python Lab

### os module:

In [27]:
import os
print(os.name)

nt

In [ ]:
os.mkdir("temp1")

In [33]:
os.access("one.txt",os.F_OK)

False

In [36]:
os.rename("t3.py","t4.py")
os.access("t1.py",os.F_OK)

False

In [37]:
os.rmdir('temp1')

## math module:

In [38]:
# write a python program which accepts the radius of a circle from user and computes
# the area.
import math
r=int(input("Enter radius:"))
area=math.pi*r*r
print("Area of circle is:",area)

Area of circle is: 78.53981633974483

In [39]:
import math
print("The value of pi is", math.pi)

The value of pi is 3.141592653589793

In [40]:
import math as m
print("The value of pi is", m.pi)

The value of pi is 3.141592653589793