## UNIT – I 
# INTRODUCTION DATA, EXPRESSIONS, STATEMENTS

In [1]:
print("Hello World ")

Hello World

# Data types: 
Int:

In [8]:
print(24656354687654+2) 
print (30)
print (0b10)
print(0B10)
print(0X20)
 
a = 10
print (a)

# To verify the type of any object in Python, use the type() function: 
print(type(a))

24656354687656
30
2
2
32
10
<class 'int'>

# Float: 
Float, or "floating point number" is a number, positive or negative, containing one or more  decimals.

In [ ]:
y = 2.8
print(y)
print(type(y))

x = 35e3  
y = 12E4 
z = -87.7e100 
print(type(x)) 
print(type(y)) 
print(type(z))

2.8
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

# Boolean: 
Objects of Boolean type may have one of two values, True or False:

In [12]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

# String:

In [25]:
print("Muhammad Talha")
print(type("Muhammad Talha"))

print("Government college Formen is an autonomous (') college")
print('Government college Formen is an autonomous (") college') 

print("Government college Formen is an autonomous (\') college") 
print("Government college Formen is an autonomous \" college") 

print('a \nb')

print("Formen \ncollege")

Muhammad Talha
<class 'str'>
Government college Formen is an autonomous (') college
Government college Formen is an autonomous (") college
Government college Formen is an autonomous (') college
Government college Formen is an autonomous " college
a
b
Formen
college

## List:

In [30]:
mylist = [1,2,3,'A','B',7,8,[10,"Talha"]] 
print(mylist)

#  another way to initialize list 
y = list()
print(y)
#  Change another data type into list 

myTup = ("Talha",123,True)
mylist2 = list(myTup)
print(mylist2)
print(type(mylist2))

[1, 2, 3, 'A', 'B', 7, 8, [10, 'Talha']]
[]
['Talha', 123, True]
<class 'list'>

## Variables: 
Variables are nothing but reserved memory locations to store values. This means that when you create a variable you reserve some space in memory.

In [4]:
a= 500 # An integer assignment 
b = 8700.0 # A floating point 
c = "Talha" # A string 
print (a) 
print (b) 
print (c) 
#  Multiple Assignment: 

x = y = z = "Talha"
print(x,y,z)

a,b,c = 1,2,"Formen College " 
print(a,b,c)

x =10# x is of type int 
x = "Formen "
print(x) 
# To combine both text and a variable, Python uses the “+” character: 
x = "Technology Program" 
print("Peoples Information " +  x) 

x = "Technology Program" 
y =  "Peoples Information "
z = x + y 
print(z)

500
8700.0
Talha
Talha Talha Talha
1 2 Formen College
Formen
Peoples Information Technology Program
Technology ProgramPeoples Information

## Expressions: 
An expression is a combination of values, variables, and operators. An expression is evaluated using assignment operator.

In [ ]:
x=10 
Y=x + 17 
z=x+20 
print(z)

30

## Precedence of Operators:

In [8]:
a = 20 
b = 10 
c = 15 
d = 5 
e = 0 
e = (a + b) * c / d #( 30 * 15 ) / 5 
print("Value of (a + b) * c / d is ", e) 
e = ((a + b) * c) / d # (30 * 15 ) / 5 
print("Value of ((a + b) * c) / d is ", e) 
e = (a + b) * (c / d); # (30) * (15/5)

print("Value of (a + b) * (c / d) is ", e) 
e = a + (b * c) / d; # 20 + (150/5) 
print("Value of a + (b * c) / d is ", e)

Value of (a + b) * c / d is  90.0
Value of ((a + b) * c) / d is  90.0
Value of (a + b) * (c / d) is  90.0
Value of a + (b * c) / d is  50.0

## Modules:

In [14]:
import calendar
import sys 
print(sys.version) 

print(calendar.month(2021,5)) 

print(calendar.isleap(2000)) 
 
print(calendar.isleap(2014))

3.13.1 (tags/v3.13.1:0671451, Dec  3 2024, 19:06:28) [MSC v.1942 64 bit (AMD64)]
      May 2021
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

True
False

## Functions: 
### 1. Built-in functions - Functions that are built into Python. 
### 2. User-defined functions - Functions defined by the users themselves.

In [16]:
# Ex: abs(),all().ascii(),bool()………so on…. 
integer = -20 
print('Absolute value of -20 is:', abs(integer)) 

def add_numbers(x,y): 
 sum = x + y 
 return sum 
print("The sum is", add_numbers(5, 20))

Absolute value of -20 is: 20
The sum is 25

## Flow of Execution:

In [17]:
print("welcome") 
for x in range(3): 
 print(x) 
print("Good morning Talha")

welcome
0
1
2
Good morning Talha

## Parameters and arguments:

In [28]:
def add (num1, num2):
    return num1 + num2
result = add(15,45)
print(result)


def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d
print(add_sub(10,5))

def hello_f():
    return "hellocollege"
print(hello_f().upper())

# Passing Arguments
def hello(wish):
    return '{}'.format(wish)
print(hello("mrcet"))


# Key words Arguments 
def func(a, b=5, c=10): 
    print ('a is', a, 'and b is', b, 'and c is', c)
27 
func(3, 7) 
func(25, c=24) 
func(c=50, a=100)

def print_name(name1, name2): 
 """ This function prints the name """ 
 print (name1 + " and " + name2 + " are friends") 
#calling the function 
print_name(name2 = 'TALHA',name1 = 'ZAIN')

def wish(*names): 
 """This function greets all 
 the person in the names tuple.""" 
 # names is a tuple with arguments 
 for name in names: 
   print("Hello",name) 
wish("Talha","Zain","Waqar","Salman")

60
(15, 5)
HELLOCOLLEGE
mrcet
a is 3 and b is 7 and c is 10
a is 25 and b is 5 and c is 24
a is 100 and b is 5 and c is 50
ZAIN and TALHA are friends
Hello Talha
Hello Zain
Hello Waqar
Hello Salman

## Practice Question At the End Of chapter 1

In [ ]:
# Program to find area of a circle using function use single return value function with
argument.

pi = 3.14
def areaOfCircle(radius):
    return pi * radius * radius

rad = float(input("Enter the radius of circle"))
print(areaOfCircle(rad))

Sum =  108.0 Difference =  -18.0 Multiply =  2835.0 divide =  0.7142857142857143 modules 45.0

In [38]:
#Program to write sum different product and using arguments with return value
# function.

def calculator (num1, num2):
    add = num1 + num2
    sub = num1 - num2
    mul = num1 * num2
    div = num1 / num2
    mod = num1 % num2
    return add , sub, mul , div,mod

n1 = float(input("Enter the First  Number : "))
n2 = float(input("Enter the Second Number : "))

a,s,m,d,mo = calculator(n1,n2)

print("Sum = ",a,"Difference = ",s , "Multiply = ",m , "divide = ",d , "modules",mo)

Sum =  101.0 Difference =  -11.0 Multiply =  2520.0 divide =  0.8035714285714286 modules 45.0

In [39]:
#program to find biggest of two numbers using functions. 
def biggest(num1,num2):
    
    if num1 > num2:
        return num1
    else:
        return num2
n1 = float(input("Enter the First  Number : "))
n2 = float(input("Enter the Second Number : "))

bigNumber = biggest(n1,n2)
print(bigNumber)

98.0

In [40]:
#program to find biggest of two numbers using functions. (nested if) 

def biggest(num1,num2,num3):
    if num1 > num2 :
        if num1 > num3:
            return num1
        else :
            return num3
    else : 
        if num2 > num3:
            return num2
        else:
            return num3

n1 = float(input("Enter the First  Number : "))
n2 = float(input("Enter the Second Number : "))
n3 = float(input("Enter the Third Number : "))

bigNumber = biggest(n1,n2,n3)
print(bigNumber)

89.0

In [42]:
#Writer a program to read one subject mark and print pass or fail use single return values function with argument. 
def resultChecker(a):
    if a > 40:
        return "Pass"
    else:
        return "Fail"
    
n1 = float(input("Enter the First  Number : "))

print(resultChecker(n1))

Fail

In [44]:
#Write a program to display mrecet cse dept 10 times on the screen. (while loop) 

def display(): 
 count =0 
 while count<10: 
  print("mrcet cse dept",count) 
  count=count+1 
display()

mrcet cse dept 0
mrcet cse dept 1
mrcet cse dept 2
mrcet cse dept 3
mrcet cse dept 4
mrcet cse dept 5
mrcet cse dept 6
mrcet cse dept 7
mrcet cse dept 8
mrcet cse dept 9

## UNIT – II

### Conditional (if):

In [1]:
a = 3
if a > 2:
    print(a, "is greater")
print("done")
a = -1
if a < 0:
    print(a, "a is smaller")
print("Finish")

3 is greater
done
-1 a is smaller
Finish

### Alternative if (If-Else):

In [ ]:
a=int(input('enter the number'))
if a>5:
  print("a is greater")
else:
   print("a is smaller than the input given")

a is smaller than the input given

In [3]:
a=10
b=20
if a>b:
    print("A is Greater than B")
else:
    print("B is Greater than A")

B is Greater than A

### Chained Conditional: (If-elif-else):

In [4]:
a=int(input('enter the number'))
b=int(input('enter the number'))
c=int(input('enter the number'))
if a>b:
    print("a is greater")
elif b>c:
    print("b is greater")
else:
    print("c is greater")

c is greater

In [5]:
var = 100
if var == 200:
    print("1 - Got a true expression value")
    print(var)
elif var == 150:
    print("2 - Got a true expression value")
    print(var)
elif var == 100:
    print("3 - Got a true expression value")
    print(var)
else:
    print("4 - Got a false expression value")
    print(var)
print("Good bye!")

3 - Got a true expression value
100
Good bye!

### Statements:
In Python Iteration (Loops) statements are of three types:
1. While Loop
2. For Loop
3. Nested For Loops

## While Loop

In [8]:
i=1
while i<=6:
    print("Government College Jinnah")
    i=i+1

Government College Jinnah
Government College Jinnah
Government College Jinnah
Government College Jinnah
Government College Jinnah
Government College Jinnah

In [9]:
i=1
while i<=3:
   print("MRCET",end=" ")
   j=1
   while j<=1:
     print("CSE DEPT",end="")
     j=j+1
   i=i+1
   print()

MRCET CSE DEPT
MRCET CSE DEPT
MRCET CSE DEPT

In [13]:
i=1
j=1
while i<=3:
  print("MRCET",end=" ")
  while j<=1:
   print("CSE DEPT",end="")
   j=j+1
  i=i+1
  print()

MRCET CSE DEPT
MRCET
MRCET

In [15]:
i = 1
while (i < 10):
  print (i)
  i = i+1

1
2
3
4
5
6
7
8
9

In [16]:
a = 1
b = 1
while (a<10):
   print ('Iteration',a)
   a = a + 1
   b = b + 1
   if (b == 4):
      break
print ('While loop terminated')

Iteration 1
Iteration 2
Iteration 3
While loop terminated

In [18]:
count = 0
while (count < 9):
    print("The count is:", count)
    count = count + 1
print("Good bye!")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Good bye!

## For Loop

In [20]:
numbers = [1, 2, 4, 6, 11, 20]
seq=0
for val in numbers:
  seq=val*val
  print(seq)

1
4
16
36
121
400

In [22]:
# Iterating over a list:
#list of items
list = ['J','I','N','N','A','H']
i = 1
#Iterating over the list
for item in list:
    print ('college ',i,' is ',item)
    i = i+1

college  1  is  J
college  2  is  I
college  3  is  N
college  4  is  N
college  5  is  A
college  6  is  H

In [23]:
tuple = (2,3,5,7)
print ('These are the first four prime numbers ')
#Iterating over the tuple
for a in tuple:
   print (a)

These are the first four prime numbers
2
3
5
7

In [25]:
# Iterating over a dictionary:
#creating a dictionary
college = {"ces":"block1","it":"block2","ece":"block3"}
#Iterating over the dictionary to print keys
print ('Keys are:')
for keys in college:
    print (keys)
    
    
print ('Values are:')
for blocks in college.values():
    print(blocks)

Keys are:
ces
it
ece
Values are:
block1
block2
block3

In [26]:
# Iterating over a String:
#declare a string to iterate over
college = 'MRCET'
#Iterating over the string
for name in college:
    print (name)

M
R
C
E
T

## Nested For loop:

In [28]:
for i in range(1,6):
    for j in range(0,i):
        print(i, end=" ")
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [30]:
for i in range(1,6):
    for j in range(5,i-1,-1):
        print(i, end=" ")
    print('')

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

## Break:

In [34]:
for val in "JINNAH COLLEGE":
     if val == " ":
        break
     print(val)
print("The end")

J
I
N
N
A
H
The end

In [35]:
for num in [11, 9, 88, 10, 90, 3, 19]:
   print(num)
   if(num==88):
      print("The number 88 is found")
      print("Terminating the loop")
      break

11
9
88
The number 88 is found
Terminating the loop

In [37]:
for letter in "Python": # First Example
    if letter == "h":
        break
    print("Current Letter :", letter )

Current Letter : P
Current Letter : y
Current Letter : t

## Continue:

In [39]:
for val in "string":
    if val == "i":
     continue
    print(val)
print("The end")

s
t
r
n
g
The end

In [41]:
for num in [20, 11, 9, 66, 4, 89, 44]:

# Skipping the iteration when number is even
    if num%2 == 0:
        continue
# This statement will be skipped for all even numbers
    print(num)

11
9
89

In [42]:
for letter in "Python": # First Example
    if letter == "h":
        continue
    print("Current Letter :", letter)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : o
Current Letter : n